[submodule "shiny-ssa23"]
	path = shiny-ssa23
	url = git@github.com:mitchelloharawild/workshop-shiny-ssa23.git
	branch = gh-pages
[submodule "intermediate-shiny"]
	path = intermediate-shiny
	url = git@github.com:mitchelloharawild/workshop-shiny-intermediate.git
	branch = gh-pages
[submodule "user2024"]
	path = user2024
	url = git@github.com:mitchelloharawild/workshop-fable-user2024.git
	branch = gh-pages
[submodule "rmedicine2024"]
	path = rmedicine2024
	url = git@github.com:mitchelloharawild/workshop-r-medicine-2024.git
	branch = gh-pages
[submodule "f4sg-um6p"]
	path = f4sg-um6p
	url = git@github.com:mitchelloharawild/workshop-f4sg-um6p.git
	branch = gh-pages
