[submodule "shiny-ssa23"]
	path = shiny-ssa23
	url = git@github.com:mitchelloharawild/workshop-shiny-ssa23.git
	branch = gh-pages
[submodule "intermediate-shiny"]
	path = intermediate-shiny
	url = git@github.com:mitchelloharawild/workshop-shiny-intermediate.git
	branch = gh-pages
[submodule "user2024"]
	path = user2024
	url = git@github.com:mitchelloharawild/workshop-fable-user2024.git
	branch = gh-pages
[submodule "rmedicine2024"]
	path = rmedicine2024
	url = git@github.com:mitchelloharawild/workshop-r-medicine-2024.git
	branch = gh-pages
[submodule "f4sg-um6p"]
	path = f4sg-um6p
	url = git@github.com:mitchelloharawild/workshop-f4sg-um6p.git
	branch = gh-pages
[submodule "shiny-wombat24"]
	path = shiny-wombat24
	url = git@github.com:mitchelloharawild/workshop-shiny-wombat24.git
	branch = gh-pages
[submodule "advr-wombat24"]
	path = advr-wombat24
	url = git@github.com:mitchelloharawild/workshop-advr-wombat24.git
	branch = gh-pages
[submodule "tidyfc2024"]
	path = tidyfc2024
	url = git@github.com:mitchelloharawild/workshop-tidyfc-2024.git
	branch = gh-pages
[submodule "isf2025"]
	path = isf2025
	url = git@github.com:mitchelloharawild/workshop-etsa-isf2025.git
	branch = gh-pages
[submodule "fable-2025"]
	path = fable-2025
	url = git@github.com:mitchelloharawild/workshop-fable-2025.git
	branch = gh-pages
